.btn {
	background: #FDA129;
	padding: 20px 40px;
	font-size: 1.5em;
	font-family: idlewildMedium;
	color: white;
	text-decoration: none;
	display: inline-block;
	border-radius: 50px;

	&:hover {
		background: darken(#FDA129, 20%);
	}
}