// TYPOGRAPHY IMPORTS

@font-face {
  font-family: idlewildBold;
  src: url("assets/fonts/Idlewild-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: idlewildBook;
  src: url("assets/fonts/Idlewild-Book.otf");
  font-weight: normal;
}

@font-face {
  font-family: idlewildLight;
  src: url("assets/fonts/Idlewild-Light.otf");
  font-weight: normal;
}

@font-face {
  font-family: idlewildMedium;
  src: url("assets/fonts/Idlewild-Medium.otf");
  font-weight: normal;
}

@font-face {
  font-family: idlewildThin;
  src: url("assets/fonts/Idlewild-Thin.otf");
  font-weight: normal;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);

// AUTHOR STYLES

body {
	background-size: cover;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 1.5em;
	font-size: 16px;
}

h1, h2, h3 {
	font-family: idlewildBook, "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}

h2 {
	@media all and (min-width: 800px) {
		font-size: 3em;
	}

	font-size: 2em;
	line-height: 1.5em;
}

p {
	@media all and (min-width: 800px) {
		font-size: 1.5em;
	}

	font-size: 1em;
	line-height: 1.5em;
}

header h1, .feature, footer {
	color: #fff;
}