#careers {
	padding-bottom: $pad * 4;
	padding-left: $pad;
	padding-right: $pad;

	h3 {
		font-family: $title-light;
	}

	legend {
		margin-top: $pad;

		@media screen and (min-width: 560px) {
			margin-top: 0;
		}
	}

	.group {
		width: 100%;
	}

	#title2 {
		display: block;
	}

	#title5 {
		margin-top: $pad;
	}

	#Field5_1 {
		margin-left: $pad;
	}

	#title6 {
		margin-bottom: $pad;
	}

	#foli106 {
		clear: both;
		display: block;
	}

	#title106 {
		display: block;
		margin-top: $pad;
	}

	.submit-wrapper {
		border-top: 1px solid #ccc;
		padding-top: $pad * 2;
		margin-top: $pad;
	}
}
