.content {
	p:last-of-type {
		margin-bottom: 0;
	}
}

.content#home {
	background: url(assets/images/background/lift-gif-frames.gif) no-repeat top center / cover;
	padding-top: 200px;
	padding-bottom: 160px;
	text-align: center;
	position: relative;
	overflow: hidden;

	h1, h2, h3 {
		@extend %reset;
	}

	h2 {
		font-size: 2.1em;
		line-height: 1.5em;
	}

	.feature {
		position: relative;
		max-width: 640px;
		margin: 0 auto;
		z-index: 10;
		color: #fff;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
	}
}

.content#about {
	padding-right: $pad;
	padding-left: $pad;
	padding-top: $pad * 4;

	h2 {
		margin-bottom: $pad * 2;
	}

	.about-us {
		padding-bottom: $pad * 2;
		border-bottom: 1px solid #eee;
		margin-bottom: $pad * 2;
	}

	#logos img {
		display: block;
		max-width: 80%;

		&:focus {
			outline: none;
		}
	}

	.slick-slider {
		max-width: 90%;
		margin: 0 auto;
	}

	.slick-prev:before, .slick-next:before {
		color: #000;
	}

	.slick-slide:focus {
		outline: none;
	}
}

.content#team {
	padding-top: $pad * 4;
	position: relative;

	&:after {
		content: '';
		background: url(https://unsplash.it/1440/960) no-repeat center center / cover;
		@extend .group;
		position: absolute;
		bottom: 0;
		z-index: 0;
		width: 100%;
		height: 890px;
	}

	.container {
		padding-right: $pad;
		padding-left: $pad;
		padding-bottom: $pad * 2;
		position: relative;
		z-index: 10;
	}

	h2 {
		margin-bottom: $pad * 2;
	}

	img {
		max-width: 100%;
		display: block;
	}

	.grid {
		background: transparent;

		@media screen and (min-width: $low-tide) {
			margin-bottom: $pad * 2;
		}
	}

	.title {
		border: 1px solid #eee;
		padding: 10px;
		text-align: center;
		background: #fff;

		h4, h5 {
			@extend %reset;
		}

		h4 {
			font-family: $title-bold;
			font-size: .6em;
		}

		h5 {
			font-size: .7em;
		}
	}

	// Fix to adjust padding on last two grid-items
	.col-1-3:nth-child(4), .col-1-3:nth-child(5) {
		margin-top: $pad;
	}

	.col-mb-1-2:nth-child(3) {
		@media screen and (max-width: $low-tide) {
			margin-top: $pad;
		}
	}
}

.content#services {
	padding-top: $pad * 4;
	padding-bottom: $pad * 4;

	.container {
		padding-right: $pad;
		padding-left: $pad;
	}

	h2 {
		margin-bottom: $pad * 2;
	}

	.service-blocks {
		text-align: center;
		font-family: $body-regular;
		// font-size: 8px;

		@media screen and (min-width: $high-tide) {
			// font-size: 12px;
			font-family: $title-light;
		}
	}

	.grid {
		@extend %reset;
		display: table;
		border-collapse: collapse;
		padding: 0;
		width: 100%;
	}

	.box {
		display: table-cell;
		vertical-align: middle;
		height: 140px;
		font-size: 14px;
		padding: 0 10px;
	}

	.box-1-3 {
		width: 33.33333333%
	}

	.box-1-2 {
		width: 50%
	}

	.box-dk {
		background: #858996;
	}

	.box-md {
		background: #9296A3;
	}

	.box-lt {
		background: #AEB4BF;
	}
}

#service-slider {
	margin-top: $pad * 4;
	margin-bottom: 0;

	img {
		width: 100%;
	}

	.slick-prev:before, .slick-next:before {
		color: #000;
		z-index: 10;
	}

	.slick-next {
		right: 15px;
	}

	.slick-prev {
		left: 15px;
		z-index: 10;
	}

	.clip {
		position: relative;
	}

	.title {
		position: absolute;
		text-align: center;
		top: 20%;
		color: #fff;
		width: 100%;
		font-family: $title-medium;
		font-size: 1.25em;
		line-height: 1.5em;
	}
}