#services {
	padding-top: $pad * 4;
	padding-bottom: $pad * 4;

	.container {
		padding-right: $pad;
		padding-left: $pad;
	}

	h2 {
		margin-bottom: $pad * 2;
	}

	.service-blocks {
		text-align: center;
		font-family: $body-regular;
		// font-size: 8px;

		@media screen and (min-width: $high-tide) {
			// font-size: 12px;
			font-family: $title-light;
		}
	}

	.grid {
		@extend %reset;
		display: table;
		border-collapse: collapse;
		padding: 0;
		width: 100%;
	}

	.box {
		display: table-cell;
		vertical-align: middle;
		height: 140px;
		font-size: 14px;
		padding: 0 10px;

	}

	.box-1-3 {
		width: 33.33333333%
	}

	.box-1-2 {
		width: 50%
	}

	.box-dk {
		background: #858996;
	}

	.box-md {
		background: #9296A3;
	}

	.box-lt {
		background: #AEB4BF;
	}
}

#service-slider {
	margin-top: $pad * 4;
	margin-bottom: 0;

	img, div, .slick-slide, a, .title {
		&:focus {
			outline: none;
		}
	}

	img {
		width: 100%;
	}

	cite {
		display: none;
		visibility: hidden;
	}

	.slick-prev:before, .slick-next:before {
		color: #fff;
		z-index: 10;
	}

	.slick-next {
		right: 15px;
	}

	.slick-prev {
		left: 15px;
		z-index: 10;
	}

	.clip {
		position: relative;
	}

	.title {
		position: absolute;
		text-align: center;
		top: 70%;
		color: #fff;
		width: 100%;
		font-family: $title-medium;
		font-size: 1.25em;
		line-height: 1.5em;
		padding-left: 20px;
		padding-right: 20px;
	}
}