#team {
	padding-top: $pad * 4;
	background: url(assets/images/background/bg-2.png) no-repeat bottom left / cover;
	background-attachment: fixed;

	.container {
		padding-right: $pad;
		padding-left: $pad;
		padding-bottom: $pad * 2;
	}

	h2 {
		margin-bottom: $pad * 2;
		color: #fff;
	}

	img {
		max-width: 100%;
		display: block;
	}

	.grid {
		@media screen and (min-width: $low-tide) {
			margin-bottom: $pad * 2;
		}
	}

	.col-1-3 {
		margin-bottom: $pad;
	}

	.title {
		border: 1px solid #eee;
		padding: 10px;
		padding-bottom: 20px;
		text-align: center;
		background: #fff;
		height: 120px;

		h4, h5 {
			@extend %reset;
		}

		h4 {
			font-family: $title-bold;
			font-size: .8em;
			line-height: 1.3em;
			padding-top: 10px;
		}

		h5 {
			font-size: .7em;
		    line-height: 1.5em;
		    padding-top: 8px;
		}
	}
}

#advisors {
	padding-top: $pad * 4;
	background: #fff;

	h2 {
		color: #000;
	}

	.container {
		padding-right: $pad;
		padding-left: $pad;
		padding-bottom: $pad * 2;
	}

	.title {
		border: 1px solid #eee;
		padding: 10px;
		padding-bottom: 20px;
		text-align: center;
		background: #fff;
		margin-bottom: 20px;
		height: 100px;

		h4, h5 {
			@extend %reset;
		}

		h4 {
			font-family: $title-bold;
			font-size: .8em;
			line-height: 1.3em;
			padding-top: 10px;
		}

		h5 {
			font-size: .7em;
		    line-height: 1.5em;
		    padding-top: 8px;
		}
	}
}